@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.display-flex {
  display: flex;
}
.unordered-list {
  margin-top: 35.5px;
  margin-right: 120px;
}
.nav-img {
  margin-left: 150px;
}
.items {
  text-decoration: none;
  font-size: 23px;
}
.color-dark {
  color: #252432;
}
.color-gray {
  color: #8987a1;
}
.list-item {
  margin-right: 30px;
  list-style: none;
}
.navbar {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
}
.banner {
  height: 461px;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.text-orange {
  color: #e95a08;
}
.titles {
  font-weight: bold;
  font-size: 65px;
}
.title-img {
  width: 570px;
  height: 355px;
  margin-top: 165px;
}
.banner-title {
  margin-top: 155px;
  height: 299px;
  width: 570px;
}
.title-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
main {
  margin: 0 auto;
  max-width: 1440px;
}
.always-f {
  margin-top: 120px;
}
.text-2 {
  font-weight: bold;
  font-size: 50px;
}
.para-1 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 336px;
}
.always-f {
  text-align: center;
  height: 138px;
  width: 1140;
  margin-bottom: 49px;
}
.text-3 {
  font-size: 22px;
  margin-top: 30px;
  padding: 0px 69px;
  font-weight: 500;
}
.img-1 {
  height: 484.94px;
  width: 270px;
}
.img-section {
  height: 322.94px;
  width: 270px;
}
.text-4 {
  font-weight: bold;
  font-size: 24px;
  padding: 0px 94.5px;
  margin-bottom: 10px;
  margin: 0 auto;
}
.btn-pre {
  height: 50px;
  width: 270px;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: #ffffff;
  padding: 19px 80px;
}
.important-1 {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 210.1px;
}
.m-g {
  margin-bottom: 30px;
}
.img-factor2 {
  height: 286px;
  width: 286px;
  margin-left: -190px;
  margin-top: -130px;
}
.img-factor1 {
  height: 597px;
  width: 540px;
}
.important-2 {
  height: 597px;
  width: 1140px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 120px;
}
.text-5 {
  font-weight: bold;
  font-size: 50px;
  height: 137px;
  width: 540px;
}
.list-items1 {
  font-size: 22px;
  height: 108px;
  width: 540px;
  color: rgba(0, 0, 0, 0.5);
}
.text-dc {
  gap: 20px;
}
.title-format {
  font-weight: bold;
  font-size: 50px;
  margin: 10px auto;
}
.description1 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  height: 54px;
  width: 888px;
  margin: 0 auto;
}
.title-1 {
  text-align: center;
  margin-bottom: 80px;
}
.bg-img1 {
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-bloom.png);
  height: 201px;
  background-size: cover;
  background-position: center;
  width: 367px;
  border-radius: 14px;
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
}
.bg-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 197px;
  width: 367px;
  border-radius: 14px;
  color: #ffffff;
  text-align: center;
}
.bg-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 423.13px;
  width: 753px;
  color: #ffffff;
  border-radius: 22px;
  text-align: center;
  margin-top: 10px;
}
.padding1 {
  padding: 142.12px 127px 0px 128px;
}
.text-6,
.text-7 {
  font-size: 20px;
  font-weight: bold;
}
.text-8 {
  font-size: 40px;
  font-weight: bold;
}
.italy {
  font-weight: 600;
  font-size: 16px;
}
.img-title {
  margin: 0 auto;
  justify-content: center;
  gap: 28px;
}
.padding {
  padding: 65px 47.22px 0px 49px;
}
.italy1 {
  font-weight: 600;
  font-size: 28px;
}
.bg-img4 {
  margin-bottom: 200px;
}
.bg-last {
  background-image: url(../assets/news-letter-bg.png);
  height: 533px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.text1 {
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  padding: 199px 305px 0px 305px;
}
.btn-primary2 {
  color: #ffffff;
  background-color: rgba(233, 90, 8, 1);
  height: 50px;
  width: 186px;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.ewi {
  height: 50px;
  width: 644px;
}
footer {
  max-width: 1440px;
  margin: 0 auto;
}
.logo1 {
  margin-right: 10px;
  height: 36px;
  width: 216px;
  justify-content: space-between;
  margin: 0px 160px 0px 0px;
}
.finising1 {
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.list-finish {
  list-style: none;
  text-decoration: none;
}
.foot1 {
  color: gray;
  margin-bottom: 32px;
}
.sponsor {
  width: 359px;
  height: 179px;
  margin: 0px 0px 0px 160px;
}
.sp1 {
  color: rgba(0, 0, 0, 0.5);
}
.anchor {
  list-style: none;
  text-decoration: none;
  color: gray;
}
@media (max-width: 576px) {
  .navbar,
  .banner {
    flex-direction: column;
  }
}
.acolor {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
.acolor1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}
